<p>Results: {{data}}</p>

<div id="list" class="list">
    {{#each data}}
        <div class="item">
            <h5>{{description}}</h5>
            <button>{{completed}}</button>
        </div>
    {{/each}}
</div>